*{
/*Essas informações do titulo*/

margin: 0;
padding: 0;
box-sizing: border-box; 
font-family: 'Courier New', Courier, monospace;
}

html {

    scroll-behavior: smooth; /* scroll do mouse*/
}

:root { 
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisescuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255,0.1);
}

body {
    /*background-color:var(--escuro) ;*/
    background-color:var(--claro);
    color: var(--maisescuro);
    padding-bottom: 150px; /* cria espaço no final da tela */
    
}

.navegacao {
    position: fixed;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
    
}

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 6rem;

    align-items: center;
    position: relative;
}

.menu-link{
    text-decoration: none;
    color: var(--claro);
    font-weight: 550;
    position: relative;
    padding: 0.5rem 0;
    font-size: 1.3rem; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

.menu-centro {/* Centraliza só os links*/
    display: flex;
    gap: 6rem;
    margin: 0 auto;
}

.menu-icones {/* Joga os ícones para o canto direito */
    position: absolute;
    right: 30px;
    display: flex;
    gap: 40px;
}

.menu-link::after {/* after: depois before: antes */
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after { /*quando colocar o mouse em cima*/
    width: 80%;
}

.icone-nav { /* Referencia as duas imagens linkedin e github*/
    width: 38px;
    height: 38px;
    border-radius: 50%;   /* deixa redondo */
    object-fit: cover;
    transition: 0.3s;
    cursor: pointer;
}

.grupo-icones {
    display: flex;
    align-items: center;
    gap: 15px; /* menor = mais juntas */
    margin: auto; /* empurra os ícones para o canto direito */
}

.icone-nav:hover {
    transform: scale(2.01);
}

.cabecalho-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-direction: column;*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
            margin-bottom: 0.3px;
}

.cabecalho-texto{
    text-align: center;
    max-width: 1000px;
}

.cabecalho {
    padding-top: 0.5px;
}

.botao-cv{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 28px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: 0.3s;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.botao-cv:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(79, 70, 229, 0.5);
}   

.apresentacao{
    font-size: 2.2rem;
    color: #9ca3af;
    margin-bottom: 0.50px;
    font-family:Arial;
}

.foto-perfil {
  width: 320px;
    height: 327px;
    border-radius: 80%;
    border: 6px solid var(--primaria);
    box-shadow: 0 0 60px rgba(79, 70, 229, 0.5);
    object-fit: cover;  

            /*   object-fit: contain;  mostra a imagem inteira */
    object-position: center 10%;   /* centraliza o rosto */
}   

h1{ /*cor da fonte Analista de Suporte TI | Help Desk | QA*/
font-size: 3.5rem;
color: var(--escuro);
font-weight: bold;
margin: 0px;
}

.cabecalho-sub-titulo{
    font-size: 1.5rem;
    color: var(--escuro);
}

/*Essas informações das experiencias*/

.experiencia{
    padding: 0.1rem;
    color: var(--escuro);   
}

.experiencia-caixa{
    padding: 0.2rem;
    max-width: 850px;
    margin: 0 auto;
    border-radius: 16px;
    border: 25px solid var(--vidro); /*quadrado/caixa da descrição*/
    margin-bottom: 0px;
    backdrop-filter: blur(10px);
    text-align: center;
    background: rgb(255, 255, 255);

}

.experiencia-titulo{
    padding: 0.1rem;
    color: var(--escuro); /*cor da fonte experiencia*/
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.5rem; /*tamanho da fonte experiencia*/
}

.experiencia-paragrafo{
    text-align: center;
    font-size: 1.3rem; /*tamanho da letra na caixa*/
}

/*Essas informações sõa dos Meus Projetos, das 3 imagens*/

.projetos{
    padding: 6rem 2rem;
}

.projetos-caixa{ /*tamanho das imagens*/
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));    
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos a {
    text-decoration: none;
    color: inherit;
}

.projetos-card{
    background: rgba(255, 255, 225, 0.25);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5s ease; /*linkado no .Projetos-card:hover*/
    cursor: pointer; /*ao passar o mouse na imagem, aparede a maozinha*/
}

.projetos-titulos{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.projetos-card:hover{ /*mouse sobre a imagem e efeito da imagem*/
    /*box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);*/
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 0 50px rgba(79, 70, 229, 0.50);
}

.projetos-imagem{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.caixa-textos-projetos{ /*espaco font dentro da caixa imagem*/
    padding: 0.8rem;
}

.paragrafo-projetos{
    color: rgba(12, 12, 12, 0.8);
    line-height: 1.25rem;  
}

/*Essas Informações do contato*/

.info-projetos{
    margin-bottom: 5px;
}

.campo-form{
    width: 100%;
}

.campo-form:focus{
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.50);
}

.grupo-form{
    margin-bottom: 1.5rem;
    padding: 1rem;
    background: rgba(255, 255, 225, 0.25);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.contatos {
    text-align: center;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;   /* centraliza tudo na horizontal */
    justify-content: center;
}

.titulo-contatos {
    font-size: 36px;
    margin-bottom: 20px;
}

.caixa-contatos {
    padding: 20px 40px;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    width: 60%;
    min-width: 900px; /*largura da caixa*/
    margin: 0 auto;
    font-size: 25px; /*tamanho da letra dentro da caixa*/
    display: flex;
    justify-content: center;  /* centraliza conteúdo interno */
}

.itens-contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px; /* espaço entre email e linkedin */
}

.itens-contatos a { /*essa referencia aponta para <a> para ocultar o nome sublinhado*/
    text-decoration: none;   /* tira a linha */
    color: inherit;          /* mantém a mesma cor do texto */
}

.itens-contatos a:visited,
.itens-contatos a:hover,
.itens-contatos a:active {
    text-decoration: none;
    color: inherit;
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 0 50px rgba(79, 70, 229, 0.50);
}


